@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F8FAFC;
}

#root {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  text-align: left !important;
}